version: '3.8'

services:
  nbs-analyzer:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    restart: always
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
    healthcheck:
      test: [ "CMD-SHELL", "curl --fail http://localhost:8501/_stcore/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
